<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vsan-heading" jhiTranslate="vsanApp.vsan.home.createOrEditLabel">Create or edit a Vsan</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vsanApp.vsan.filepath" for="field_filepath">Filepath</label>
                    <input type="text" class="form-control" name="filepath" id="field_filepath"
                           formControlName="filepath"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vsanApp.vsan.dir" for="field_dir">Dir</label>
                    <input type="number" class="form-control" name="dir" id="field_dir"
                           formControlName="dir"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vsanApp.vsan.filesize" for="field_filesize">Filesize</label>
                    <input type="number" class="form-control" name="filesize" id="field_filesize"
                           formControlName="filesize"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vsanApp.vsan.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vsanApp.vsan.fileHash" for="field_fileHash">File Hash</label>
                    <input type="text" class="form-control" name="fileHash" id="field_fileHash"
                           formControlName="fileHash"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vsanApp.vsan.fileUuid" for="field_fileUuid">File Uuid</label>
                    <input type="text" class="form-control" name="fileUuid" id="field_fileUuid"
                           formControlName="fileUuid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vsanApp.vsan.vesUuid" for="field_vesUuid">Ves Uuid</label>
                    <input type="text" class="form-control" name="vesUuid" id="field_vesUuid"
                           formControlName="vesUuid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vsanApp.vsan.vv" for="field_vv">Vv</label>
                    <input type="text" class="form-control" name="vv" id="field_vv"
                           formControlName="vv"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vsanApp.vsan.vesrr" for="field_vesrr">Vesrr</label>
                    <input type="number" class="form-control" name="vesrr" id="field_vesrr"
                           formControlName="vesrr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vsanApp.vsan.rr" for="field_rr">Rr</label>
                    <input type="number" class="form-control" name="rr" id="field_rr"
                           formControlName="rr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vsanApp.vsan.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" formControlName="createDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
