<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vsan">
            <h2><span jhiTranslate="vsanApp.vsan.detail.title">Vsan</span> {{ vsan.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vsanApp.vsan.filepath">Filepath</span></dt>
                <dd>
                    <span>{{ vsan.filepath }}</span>
                </dd>
                <dt><span jhiTranslate="vsanApp.vsan.dir">Dir</span></dt>
                <dd>
                    <span>{{ vsan.dir }}</span>
                </dd>
                <dt><span jhiTranslate="vsanApp.vsan.filesize">Filesize</span></dt>
                <dd>
                    <span>{{ vsan.filesize }}</span>
                </dd>
                <dt><span jhiTranslate="vsanApp.vsan.status">Status</span></dt>
                <dd>
                    <span>{{ vsan.status }}</span>
                </dd>
                <dt><span jhiTranslate="vsanApp.vsan.fileHash">File Hash</span></dt>
                <dd>
                    <span>{{ vsan.fileHash }}</span>
                </dd>
                <dt><span jhiTranslate="vsanApp.vsan.fileUuid">File Uuid</span></dt>
                <dd>
                    <span>{{ vsan.fileUuid }}</span>
                </dd>
                <dt><span jhiTranslate="vsanApp.vsan.vesUuid">Ves Uuid</span></dt>
                <dd>
                    <span>{{ vsan.vesUuid }}</span>
                </dd>
                <dt><span jhiTranslate="vsanApp.vsan.vv">Vv</span></dt>
                <dd>
                    <span>{{ vsan.vv }}</span>
                </dd>
                <dt><span jhiTranslate="vsanApp.vsan.vesrr">Vesrr</span></dt>
                <dd>
                    <span>{{ vsan.vesrr }}</span>
                </dd>
                <dt><span jhiTranslate="vsanApp.vsan.rr">Rr</span></dt>
                <dd>
                    <span>{{ vsan.rr }}</span>
                </dd>
                <dt><span jhiTranslate="vsanApp.vsan.createDate">Create Date</span></dt>
                <dd>
                    <span>{{ vsan.createDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vsan', vsan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
