<div>
    <h2 id="page-heading">
        <span jhiTranslate="vsanApp.vsan.home.title">Vsans</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vsan" [routerLink]="['/vsan/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="vsanApp.vsan.home.createLabel">
            Create a new Vsan
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="vsans?.length === 0">
        <span jhiTranslate="vsanApp.vsan.home.notFound">No vsans found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vsans && vsans.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filepath"><span jhiTranslate="vsanApp.vsan.filepath">Filepath</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dir"><span jhiTranslate="vsanApp.vsan.dir">Dir</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filesize"><span jhiTranslate="vsanApp.vsan.filesize">Filesize</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="vsanApp.vsan.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fileHash"><span jhiTranslate="vsanApp.vsan.fileHash">File Hash</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fileUuid"><span jhiTranslate="vsanApp.vsan.fileUuid">File Uuid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vesUuid"><span jhiTranslate="vsanApp.vsan.vesUuid">Ves Uuid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vv"><span jhiTranslate="vsanApp.vsan.vv">Vv</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vesrr"><span jhiTranslate="vsanApp.vsan.vesrr">Vesrr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rr"><span jhiTranslate="vsanApp.vsan.rr">Rr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createDate"><span jhiTranslate="vsanApp.vsan.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vsan of vsans ;trackBy: trackId">
                    <td><a [routerLink]="['/vsan', vsan.id, 'view']">{{ vsan.id }}</a></td>
                    <td>{{ vsan.filepath }}</td>
                    <td>{{ vsan.dir }}</td>
                    <td>{{ vsan.filesize }}</td>
                    <td>{{ vsan.status }}</td>
                    <td>{{ vsan.fileHash }}</td>
                    <td>{{ vsan.fileUuid }}</td>
                    <td>{{ vsan.vesUuid }}</td>
                    <td>{{ vsan.vv }}</td>
                    <td>{{ vsan.vesrr }}</td>
                    <td>{{ vsan.rr }}</td>
                    <td>{{ vsan.createDate | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/vsan', vsan.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/vsan', vsan.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(vsan)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="vsans && vsans.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
